form {
   
   text-align: center;
   height:400px;
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
form div {
   padding: 5px;
}
form div label {
   font-weight: 600;
   margin: 10px;
}
 [type="text"]{
   padding: 3px;
   border-radius:3px;
   outline: none;
}
[type="file"]{
   margin-left: 17px;
}
div button {
   width:190px;
   padding: 3px 6px;
   background-color: aqua;
   border-radius: 3px;
   border:none;
   position: relative;
   left:40px;
   top:10px;
}